{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Parol o'zgartirildi" %} - {{ SITE_NAME }}{% endblock %}

{% block content %}
<div class="auth-page">
  <div class="auth-card">
    <h1>{% trans "Muvaffaqiyatli!" %}</h1>
    <p class="auth-sub">{% trans "Sizning parolingiz muvaffaqiyatli o'zgartirildi. Endi yangi parol bilan tizimga kirishingiz mumkin." %}</p>
    <p class="auth-alt">
      <a href="{% url 'journal:login' %}" class="btn btn-block" style="color: white; margin-top: 15px;">{% trans "Tizimga kirish" %}</a>
    </p>
  </div>
</div>
{% endblock %}
