{% autoescape off %}
Hurmatli foydalanuvchi,

Siz Oncoscience jurnalining veb-saytida ({{ domain }}) parolingizni tiklashni so'radingiz.

Iltimos, quyidagi havolaga kiring va yangi parolni o'rnating:

{{ protocol }}://{{ domain }}{% url 'journal:password_reset_confirm' uidb64=uid token=token %}

Sizning foydalanuvchi nomingiz: {{ user.get_username }}

Agar parolni tiklashni siz so'ramagan bo'lsangiz, ushbu xatni e'tiborsiz qoldiring. Parolingiz xavfsiz holatda qoladi.

Hurmat bilan,
Oncoscience jurnali ma'muriyati
{% endautoescape %}
